---
import Layout from "../layouts/Layout.astro";

import UnitCard from "../components/UnitCard.astro";
import type { Unit } from "../data/dataTypes";
import Roster from "../components/Roster.astro";

import AEF from "../data/AEF.json";
import ABS from "../data/ABS.json";
import FSA from "../data/FSA.json";
import NRH from "../data/NRH.json";

const AEF_UNITS: Array<Unit> = AEF.units as Array<Unit>;
const ABS_UNITS: Array<Unit> = ABS.units as Array<Unit>;
const FSA_UNITS: Array<Unit> = FSA.units as Array<Unit>;
const NRH_UNITS: Array<Unit> = NRH.units as Array<Unit>;

const allUnitsMap = new Map<string, Unit>()

AEF_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
ABS_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
FSA_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
NRH_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
---

<Layout title="Firelock List Builder">
	<div class="m-6 flex flex-wrap">
			<!-- <Roster /> -->
			{AEF_UNITS.map(unit => (
				<div class="flex-none"><UnitCard unit={unit}/></div>
			 ))}
			{ABS_UNITS.map(unit => (
				<div class="flex-none"><UnitCard unit={unit}/></div>
			 ))}
			{FSA_UNITS.map(unit => (
				<div class="flex-none"><UnitCard unit={unit}/></div>
			 ))}
			{NRH_UNITS.map(unit => (
				<div class="flex-none"><UnitCard unit={unit}/></div>
			 ))}
	</div>
</Layout>