---
import Layout from "../layouts/Layout.astro";

import UnitCard from "../components/UnitCard.astro";

---

<Layout title="Firelock List Builder">
	<div class="m-6">
			<UnitCard />
	</div>
</Layout>