---

const roster = {
    regiment : '1-82 MOTOR RIFLES, "EMPTY POCKETS"',
    company : '1ST PLATOON',
    subUnits : [
        {
            subUnit : "Uther Section - HQ",
            units : [
                {
                    unitName : 'Type 68C "Appomattox"'
                }
            ]
        }
    ]
}
---

<div class="roster border-black border-3">
    <div class="rosterHeader">
        <div>foo</div>
        <div></div>
    </div>
</div>